.wrapper {
  border-radius: var(--main-border-radius);
  box-shadow: 0 0 4.375rem -0.625rem rgba(0, 0, 0, 0.2);
  background: var(--bg-color--card);
  color: var(--main-text-color);
  width: 100%;
  min-height: 6.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  width: 6.25rem;
  min-height: 6.25rem;
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  align-items: center;
  & img {
    max-width: 3.125rem;
  }
  &:hover {
    color: var(--bg-color--card);
    background: var(--main-text-color);
  }
}
